@font-face {
  font-family: 'overdoze sans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://github.com/IsamiRi/overdoze-sans/raw/main/overdozesans.otf) format('otf');
}
